:root {
  --orange: #ffbb6a;
  --blue: #14b1c7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "IBM Plex Sans Arabic";
  background-color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.wave {
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.wave-1 .box {
  top: -50px;
}
.wave-2 .box {
  bottom: -50px;
}
.wave-3 .box {
  bottom: -150px;
}
.wave .box {
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  right: 0;
  --mask: radial-gradient(
        83.26px at 50% calc(100% + 57px),
        #0000 calc(99% - 1px),
        #000 calc(101% - 1px) 99%,
        #0000 101%
      )
      calc(50% - 120px) calc(50% - 30.5px + 0.5px) / 240px 61px repeat-x,
    radial-gradient(
        83.26px at 50% -57px,
        #0000 calc(99% - 1px),
        #000 calc(101% - 1px) 99%,
        #0000 101%
      )
      50% calc(50% + 30.5px) / 240px 61px repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  animation: rope-move1 6s linear infinite;
  transition: 1s;
}
div.wave-2 .box {
  animation-duration: 10s;
}
div.wave-3 .box {
  animation-duration: 7s;
}
/* Start Header  */
header {
  width: 100%;
  height: 70px;
  position: relative;
}
header div {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
}
header .account-status {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}
header .status {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  position: relative;
}
.status .status-color {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--orange);
  right: -15px;
  bottom: 6px;
}
/* End Header  */

/* Start Info  */
.info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .info-about {
  width: 50%;
}
.info .info-about h4 {
  background-color: #d3faff;
  color: #14b1c7;
  width: fit-content;
  padding: 10px 35px;
  border-radius: 25px;
  margin-bottom: 15px;
}
.info .info-about p {
  color: #242424;
  font-size: 25px;
  width: 60%;
}
.info .info-card {
  width: 50%;
  background-color: #effdff;
  padding: 60px;
  border-bottom-right-radius: 100px;
  position: relative;
  left: -55px;
  z-index: 1000;
}
.info-card p {
  color: #939393;
  line-height: 1.6;
  position: relative;
  margin-bottom: 15px;
}
.info-card p::before {
  content: "\f177";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  top: 0;
  right: -30px;
  color: #14b1c7;
}
.info-card-box-content-btn {
  position: relative;
  cursor: pointer;
  width: 60%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-card-box-content-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #31b98a;
  border-radius: 90px;
}
.info-card-box-content-btn button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 70%;
  position: relative;
}
.info-card-box-content-btn i {
  color: #31b98a;
  background-color: #fff;
  font-size: 13px;
  width: 15%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
/* End Info  */

/* Start Video */
.video {
  position: relative;
}
.video .image {
  width: 100%;
  height: 548px;
  background-image: url("/images/28417430\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
}
.video .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000082;
  border-radius: 20px;
}
.video .image .pause {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0c74af;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.video .image .pause::before {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  left: -10px;
  top: -10px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: bowncing 3s linear infinite;
}
.video .image .pause::after {
  content: "";
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  left: -20px;
  top: -20px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: bowncing 3s linear infinite;
}
.video .image .pause .third {
  content: "";
  position: absolute;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  left: -30px;
  top: -30px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: bowncing 3s linear infinite;
}
.video .image .pause .pause-play {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 100% 0% 0% 100% / 50% 100% 0% 50%;
  position: relative;
}
/* End Video */

/* Start Our Plan */
.our-plan .plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-plan .plans li {
  width: 115px;
  height: 85px;
  padding: 15px 25px;
  border: 1px solid #14b1c7;
  border-radius: 116px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transition: 0.5s;
}
.our-plan .plans li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 116px;
  transition: 2s;
  z-index: -1;
}
.our-plan .plans .plan {
  color: #fff;
}
.our-plan .plans .plan::after {
  width: 100%;
  height: 100%;
  right: 0;
  background-color: var(--blue);
}
.our-plan .plans span:not(:last-child) {
  width: 40px;
  height: 2px;
  background-color: #eee;
  position: relative;
}
.our-plan .plans span:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--blue);
  transition: 1s;
}
.our-plan .plans span.done::before {
  width: 100%;
}
/* End Our Plan */

/* Start Plan Text */
.plan-text .container {
  background-color: #0c74af;
  height: 100px;
  margin-top: 30px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan-text .counter {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-color: #1ab1c7;
  color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  letter-spacing: 5px;
}
.plan-text .text {
  flex: 1;
  height: 100%;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: 1s;
}
.sketch {
  width: 15%;
  height: 100%;
}
.sketch .sketch-box {
  width: 100%;
  height: 50%;
}
.sketch .sketch-box span {
  display: inline-block;
  width: 60px;
  height: 50px;
  background-color: red;
}
.sketch .sketch-box:first-child span:last-child,
.sketch .sketch-box:last-child span:first-child {
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  background-color: #15355b;
}
.sketch .sketch-box:first-child span:first-child,
.sketch .sketch-box:last-child span:last-child {
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
  background-color: #1ab1c7;
}
.sketch .sketch-box:first-child span:last-child,
.sketch .sketch-box:last-child span:last-child {
  transform: translate(5px, 0);
}
/* End Plan Text */

/* Start Our Services  */
.our-services {
  margin: 30px 0;
}
.our-services h4 {
  color: #242424;
  font-size: 25px;
  margin-bottom: 10px;
}
.our-services p {
  color: #939393;
}
/* End Our Services  */

/* Start Gallery  */
.gallery {
  height: 647px;
  background-color: #eee;
  display: flex;
}
.gallery .box {
  width: calc(100% / 5);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.gallery .box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.gallery .box:first-child {
  width: 40%;
  background-image: url("/images/muslim-two-asian-woman-freelancer-sme-business-online-shopping-working-checklist-order-with-cardboard-box-table-home-business-online-shipping-delivery-concept\ 7.png");
}
/* Start Box Content  */
.box-content {
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 20px;
}
.box-content h4 {
  color: #fff;
  font-size: 25px;
  width: fit-content;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.box-content p {
  color: #fff;
  margin-top: 25px;
  line-height: 1.6;
  font-size: 18px;
  padding-left: 30px;
  margin-bottom: 20px;
}
.box-content-btn {
  position: relative;
  cursor: pointer;
  width: 60%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.box-content-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #31b98a;
  border-radius: 90px;
  z-index: -1;
  transition: 0.5s;
}
.box-content-btn:hover::before {
  width: 24%;
}
.box-content-btn button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 70%;
  transform: translateX();
  transition: 0.5s;
}
.box-content-btn:hover button {
  transform: translateX(20%);
}
.box-content-btn i {
  color: #31b98a;
  background-color: #fff;
  font-size: 13px;
  width: 15%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
}
.box-content-btn:hover i {
  color: #fff;
  background-color: transparent;
}
/* End Box Content  */
.gallery .box:first-child::before {
  background-color: rgb(0 0 0 / 50%);
}
.gallery .box:nth-child(2) {
  background-image: url("/images/image\ 2.png");
}
.gallery .box:nth-child(2)::before {
  background-color: rgb(49 185 138 / 50%);
}
.gallery .box:nth-child(3) {
  background-image: url("/images/image\ 7.png");
}
.gallery .box:nth-child(3)::before {
  background-color: rgb(12 116 175 / 50%);
}
.gallery .box:nth-child(4) {
  background-image: url("/images/picture-serious-focused-young-male-with-stubble-surfing-internet-using-4g-wireless-connection-laptop-bearded-freelancer-working-distantly-generic-electronic-gadget-outdoors-cityscape\ 2.png");
}
.gallery .box:nth-child(4)::before {
  background-color: rgb(49 185 138 / 50%);
}
.gallery .box:last-child {
  background-image: url("/images/image\ 9.png");
}
.gallery .box:last-child::before {
  background-color: rgb(12 116 175 / 50%);
}
/* End Gallery  */

/* Start Footer  */
footer {
  background-color: #14b1c7;
  margin-top: 100px;
  padding: 30px 0;
  border-radius: 20px 20px 0 0;
}
footer .container:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
footer .container ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .image + ul a {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
}
footer .container ul a {
  color: #fff;
}
footer .container:last-child {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}
footer .container:last-child a {
  text-decoration: underline;
}
/* End Footer  */

/* Start Animation */
@keyframes bowncing {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    opacity: 0;
  }
}
@keyframes rope-move1 {
  20% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    width: 200%;
    transform: translateY(0);
  }
}
@keyframes rope-move2 {
  20% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    width: 100%;
    transform: translateY(0);
  }
}
/* End Animation */
